{% set defaults = salt['grains.filter_by']({
    'Debian': {
        'server_apache': 'apache2',
        'service_apache': 'apache2',
        'conf_apache': '/etc/apache2/apache.conf',
    },
    'RedHat': {
        'server_apache': 'httpd',
        'service_apache': 'httpd',
        'conf_apache': '/etc/httpd/httpd.conf',
    },
}, merge=salt['pillar.get']('apache:lookup')) %}
